In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np
from difflib import SequenceMatcher

# Top Universities

In [2]:
topu = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt')
times = requests.get('https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json')

In [3]:
page_topu = topu.json()
url_topu = 'https://www.topuniversities.com'

In [4]:
ranking = []
for i in range(200):
    uni = page_topu['data'][i]
    rank = int(uni['overall_rank'].replace('=',''))
    
    uni_info = BeautifulSoup(uni['uni'], 'html.parser').find('a')
    uni_url = uni_info.get('href')
    
    subrequest = requests.get(url_topu + uni_url)
    soup = BeautifulSoup(subrequest.text, 'html.parser')
    

    div_inter_fac = soup.find('div', class_='inter faculty')
    div_fac = soup.find('div', class_='total faculty')
    div_inter_stud = soup.find('div', class_='total inter')
    div_stud = soup.find('div', class_='total student')

    staff_intl = int(re.sub(r'[ \n,]', '', div_inter_fac.find('div', class_='number').string)) if div_inter_fac else None
    staff = int(re.sub(r'[ \n,]', '', div_fac.find('div', class_='number').string)) if div_fac else None
    students_intl = int(re.sub(r'[ \n,]', '', div_inter_stud.find('div', class_='number').string)) if div_inter_stud else None
    students = int(re.sub(r'[ \n,]', '', div_stud.find('div', class_='number').string)) if div_stud else None

    ranking.append({
            'Name': uni_info.string, 
            'Rank': rank, 
            'Country': uni['location'],
            'Region': uni['region'],
            'Nb faculty members (international)': staff_intl,
            'Nb faculty members (total)': staff,
            'Nb students (international)': students_intl,
            'Nb students (total)': students
        })

In [5]:
ranking_topu = pd.DataFrame.from_dict(ranking)
ranking_topu.head()

,Country,Name,Nb faculty members (international),Nb faculty members (total),Nb students (international),Nb students (total),Rank,Region
0,United States,Massachusetts Institute of Technology (MIT),1679.0,2982.0,3717.0,11067.0,1,North America
1,United States,Stanford University,2042.0,4285.0,3611.0,15878.0,2,North America
2,United States,Harvard University,1311.0,4350.0,5266.0,22429.0,3,North America
3,United States,California Institute of Technology (Caltech),350.0,953.0,647.0,2255.0,4,North America
4,United Kingdom,University of Cambridge,2278.0,5490.0,6699.0,18770.0,5,Europe

In [6]:
def get_ratio(dataframe, param):
    staff_by_param = dataframe.groupby(param).apply(pd.DataFrame.sort_values, 'Ratio staff/student', ascending=False)
    student_by_param = dataframe.groupby(param).apply(pd.DataFrame.sort_values, 'Ratio intl/student', ascending=False)
    staff_by_param = staff_by_param[['Name', 'Ratio staff/student']]
    student_by_param = student_by_param[['Name', 'Ratio intl/student']]
    return staff_by_param, student_by_param

def ranking_by_ratios(dataframe):
    ratio_staff_student = dataframe['Nb faculty members (total)'] / dataframe['Nb students (total)'].apply(float)
    ratio_intl_student = dataframe['Nb students (international)'] / dataframe['Nb students (total)'].apply(float)
    
    ratios = pd.concat([dataframe, ratio_staff_student, ratio_intl_student], axis = 1)
    ratios.columns = np.append(dataframe.columns.values, ['Ratio staff/student', 'Ratio intl/student'])
    
    staff_by_country, student_by_country = get_ratio(ratios, 'Country')
    staff_by_region, student_by_region = get_ratio(ratios, 'Region')

    return staff_by_country, staff_by_region, student_by_country, student_by_region

In [7]:
topu_staff_country, topu_staff_region, topu_student_country, topu_student_region = ranking_by_ratios(ranking_topu)

In [8]:
topu_staff_country.head()

                                             Name  Ratio staff/student
Country
Argentina 74    Universidad de Buenos Aires (UBA)             0.134267
Australia 19   The Australian National University             0.110788
          47         The University of Queensland             0.084220
          109          The University of Adelaide             0.081403
          41          The University of Melbourne             0.078493

In [9]:
topu_staff_region.head()

                                                         Name  \
Region
Africa 190                            University of Cape Town
Asia   71   Pohang University of Science And Technology (P...
       76                                   Tohoku University
       35                                    Kyoto University
       172       King Fahd University of Petroleum & Minerals

            Ratio staff/student
Region
Africa 190             0.088450
Asia   71              0.213025
       76              0.191339
       35              0.176722
       172             0.175828

In [10]:
topu_student_country.head()

                                             Name  Ratio intl/student
Country
Argentina 74    Universidad de Buenos Aires (UBA)            0.221658
Australia 41          The University of Melbourne            0.427434
          19   The Australian National University            0.384365
          109          The University of Adelaide            0.382015
          49             The University of Sydney            0.364840

In [11]:
topu_student_region.head()

                                                         Name  \
Region
Africa 190                            University of Cape Town
Asia   25                         The University of Hong Kong
       48                        City University of Hong Kong
       10   Nanyang Technological University, Singapore (NTU)
       29   The Hong Kong University of Science and Techno...

            Ratio intl/student
Region
Africa 190            0.169703
Asia   25             0.407144
       48             0.354221
       10             0.281724
       29             0.281542

# Times Higher Education

In [12]:
page_times = times.json()

In [13]:
url = 'https://www.timeshighereducation.com'

In [14]:
ranking = []
for i in range(200):
        uni = page_times['data'][i]
        rank = int(uni['rank'].replace('=',''))

        uni_url = uni['url']
        subrequest = requests.get(url + uni_url)
        soup = BeautifulSoup(subrequest.text, 'html.parser')
        meta = soup.find('meta', property='og:locality')
        region = meta['content'] if meta else None
    
        percentage_int_students = float(next(soup
                                             .find('div', class_='keystats pc_intl_students')
                                             .previous_siblings)
                                        .string.replace('%',''))/100.0
        
        ratio_teacher_student = float(next(soup
                                           .find('div', class_='keystats student_staff_ratio')
                                           .previous_siblings).string)
        
        nb_students = int(next(soup.find('div', class_='keystats number_students').previous_siblings)
                          .string.replace(',',''))
        
        nb_students_international = int(nb_students * percentage_int_students)
        nb_staff = int(nb_students / float(ratio_teacher_student))



        ranking.append({
            'Name': uni['name'], 
            'Rank': rank, 
            'Country': uni['location'],
            'Region': region,
            'Nb faculty members (international)': None,
            'Nb faculty members (total)': nb_staff,
            'Nb students (international)': nb_students_international,
            'Nb students (total)': nb_students
        })

In [15]:
ranking_times = pd.DataFrame.from_dict(ranking)
ranking_times.head()

,Country,Name,Nb faculty members (international),Nb faculty members (total),Nb students (international),Nb students (total),Rank,Region
0,United Kingdom,University of Oxford,None,1822,7755,20409,1,Oxford
1,United Kingdom,University of Cambridge,None,1687,6436,18389,2,Cambridge
2,United States,California Institute of Technology,None,339,596,2209,3,Pasadena
3,United States,Stanford University,None,2112,3485,15845,3,Stanford
4,United States,Massachusetts Institute of Technology,None,1284,3800,11177,5,Cambridge

In [16]:
times_staff_country, times_staff_region, times_student_country, times_student_region = ranking_by_ratios(ranking_times)

In [17]:
times_staff_country.head()

                                          Name  Ratio staff/student
Country
Australia 47    Australian National University             0.051795
          60              University of Sydney             0.046282
          111  University of Western Australia             0.045830
          31           University of Melbourne             0.037587
          84     University of New South Wales             0.037450

In [18]:
times_staff_region.head()

,,Name,Ratio staff/student
Region,,,
1000 GG Amsterdam,58,University of Amsterdam,0.081294
10117 Berlin,126,Charité - Universitätsmedizin Berlin,0.061690
3000 DR Rotterdam,71,Erasmus University Rotterdam,0.049712
3000 Leuven,46,KU Leuven,0.026952
6525 HP Nijmegen,121,Radboud University Nijmegen,0.052330

In [19]:
times_student_country.head()

                                        Name  Ratio intl/student
Country
Australia 31         University of Melbourne            0.399991
          47  Australian National University            0.349994
          84   University of New South Wales            0.339995
          60            University of Sydney            0.319978
          80               Monash University            0.279981

In [20]:
times_student_region.head()

,,Name,Ratio intl/student
Region,,,
1000 GG Amsterdam,58,University of Amsterdam,0.119983
10117 Berlin,126,Charité - Universitätsmedizin Berlin,0.179918
3000 DR Rotterdam,71,Erasmus University Rotterdam,0.199982
3000 Leuven,46,KU Leuven,0.149982
6525 HP Nijmegen,121,Radboud University Nijmegen,0.119950

## Merging

In [21]:
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

def replace_l(string):
    l = [' ', 'university', 'université', 'the', 'of', 'universität', 'universitaet', 'california']
    for i in l:
        string = string.replace(i, '')
    return re.sub(r'\([a-zA-Z_0-9]{1,11}\)', '', string)

def sanitize(name, other):
    IT = 'Institute of Technology'
    ST = 'Science and Technology'
    if name not in other and IT in name and IT in other:
        name = name.replace(IT, '')
        other = other.replace(IT, '')
        
    if name not in other and ST in name and ST in other:
        name = name.replace(ST, '')
        other = other.replace(ST, '')
        
    name = replace_l(name.lower())
    other = replace_l(other.lower())
    return name, other

def update_name(name):
    for elem in ranking_topu['Name']:
        clean_name, clean_elem = sanitize(name, elem)
        if similar(clean_name, clean_elem) > 0.81 :
            #if similar(clean_name, clean_elem) < 0.9:
            print("{} // {}".format(name, elem))
            return elem
    return name

In [22]:
ranking_times['Name'] = ranking_times['Name'].apply(update_name)
#ranking_times['Name']['LMU Munich']# = 'Ludwig-Maximilians-Universität München'

University of Oxford // University of Oxford
University of Cambridge // University of Cambridge
California Institute of Technology // California Institute of Technology (Caltech)
Stanford University // Stanford University
Massachusetts Institute of Technology // Massachusetts Institute of Technology (MIT)
Harvard University // Harvard University
Princeton University // Princeton University
Imperial College London // Imperial College London
University of Chicago // University of Chicago
ETH Zurich – Swiss Federal Institute of Technology Zurich // ETH Zurich - Swiss Federal Institute of Technology
University of Pennsylvania // University of Pennsylvania
Yale University // Yale University
Johns Hopkins University // Johns Hopkins University
Columbia University // Columbia University
University of California, Los Angeles // University of California, Los Angeles (UCLA)
University College London // UCL (University College London)
Duke University // Duke University
University of California, Berkeley // University of California, Berkeley (UCB)
Cornell University // Cornell University
Northwestern University // Northwestern University
University of Michigan // University of Michigan
National University of Singapore // National University of Singapore (NUS)
University of Toronto // University of Toronto
Carnegie Mellon University // Carnegie Mellon University
London School of Economics and Political Science // London School of Economics and Political Science (LSE)
University of Washington // University of Washington
University of Edinburgh // The University of Edinburgh
New York University // New York University (NYU)
Peking University // Peking University
Tsinghua University // Tsinghua University
University of California, San Diego // University of California, San Diego (UCSD)
University of Melbourne // The University of Melbourne
Georgia Institute of Technology // Georgia Institute of Technology
University of British Columbia // University of British Columbia
King’s College London // King's College London
University of Illinois at Urbana-Champaign // University of Illinois at Urbana-Champaign
École Polytechnique Fédérale de Lausanne // Ecole Polytechnique Fédérale de Lausanne (EPFL)
University of Hong Kong // The University of Hong Kong
Technical University of Munich // Technical University of Munich
McGill University // McGill University
University of Wisconsin-Madison // University of Wisconsin-Madison
Hong Kong University of Science and Technology // The Hong Kong University of Science and Technology
University of Tokyo // The University of Tokyo
KU Leuven // KU Leuven
Australian National University // The Australian National University
University of Texas at Austin // University of Texas at Austin
Brown University // Brown University
Washington University in St Louis // Washington University in St. Louis
Nanyang Technological University, Singapore // Nanyang Technological University, Singapore (NTU)
University of California, Santa Barbara // University of California, Santa Barbara (UCSB)
University of California, Davis // University of California, Davis
University of Manchester // The University of Manchester
University of Minnesota // University of Minnesota
University of North Carolina at Chapel Hill // University of North Carolina, Chapel Hill
Chinese University of Hong Kong // The Chinese University of Hong Kong (CUHK)
University of Amsterdam // University of Amsterdam
Purdue University // Purdue University
University of Sydney // The University of Sydney
Humboldt University of Berlin // Humboldt-Universität zu Berlin
Delft University of Technology // Delft University of Technology
University of Queensland // The University of Queensland
University of Southern California // University of Southern California
Leiden University // Leiden University
Utrecht University // Utrecht University
University of Maryland, College Park // University of Maryland, College Park
Boston University // Boston University
Ohio State University // The Ohio State University
Erasmus University Rotterdam // Erasmus University Rotterdam
Kyoto University // Kyoto University
Seoul National University // Seoul National University
University of Bristol // University of Bristol
Pennsylvania State University // University of Pennsylvania
McMaster University // McMaster University
RWTH Aachen University // RWTH Aachen University
University of Glasgow // University of Glasgow
Monash University // Monash University
University of Groningen // University of Groningen
Michigan State University // Michigan State University
University of New South Wales // The University of New South Wales (UNSW Sydney)
Rice University // Rice University
Uppsala University // Uppsala University
Free University of Berlin // Freie Universitaet Berlin
Dartmouth College // Dartmouth College
University of Helsinki // University of Helsinki
University of Warwick // The University of Warwick
Technical University of Berlin // Technische Universität Berlin (TU Berlin)
Lund University // Lund University
University of Basel // University of Basel
Korea Advanced Institute of Science and Technology (KAIST) // KAIST - Korea Advanced Institute of Science & Technology
Durham University // Durham University
Emory University // Emory University
University of California, Irvine // University of California, Irvine
University of Colorado Boulder // University of Colorado Boulder
University of Pittsburgh // University of Pittsburgh
Maastricht University // Maastricht University
University of Sheffield // The University of Sheffield
University of Bern // University of Bern
Ghent University // Ghent University
Aarhus University // Aarhus University
University of Copenhagen // University of Copenhagen
Sungkyunkwan University (SKKU) // Sungkyunkwan University (SKKU)
University of Western Australia // The University of Western Australia
University of Göttingen // University of Göttingen
University of Virginia // University of Virginia
École Polytechnique // Ecole Polytechnique
Fudan University // Fudan University
Trinity College Dublin // Trinity College Dublin, The University of Dublin
University of Alberta // University of Alberta
City University of Hong Kong // City University of Hong Kong
Queen Mary University of London // Queen Mary University of London
Pierre and Marie Curie University // Université Pierre et Marie Curie (UPMC)
University of Southampton // University of Southampton
Université Catholique de Louvain // Université catholique de Louvain (UCL)
University of Exeter // The University of Exeter
University of Geneva // University of Geneva
University of Science and Technology of China // University of Science and Technology of China
Karlsruhe Institute of Technology // KIT, Karlsruhe Institute of Technology
University of Adelaide // The University of Adelaide
Stockholm University // Stockholm University
University of Zurich // University of Zurich
Pohang University of Science and Technology // Pohang University of Science And Technology (POSTECH)
University of York // University of York
University of Leeds // University of Leeds
University of Birmingham // University of Birmingham
Eindhoven University of Technology // Eindhoven University of Technology
University of Florida // University of Florida
University of St Andrews // University of St Andrews
University of Oslo // University of Oslo
University of Nottingham // The University of Nottingham
Lancaster University // Lancaster University
University of Lausanne // University of Lausanne
Technical University of Denmark // Technical University of Denmark
University of Rochester // University of Rochester
Texas A&M University // Texas A&M University
Cardiff University // Cardiff University
University of Vienna // University of Vienna
Nanjing University // Nanjing University
University of Cape Town // University of Cape Town
KTH Royal Institute of Technology // KTH Royal Institute of Technology
Newcastle University // Newcastle University
University of Liverpool // University of Liverpool
Zhejiang University // Zhejiang University
University of Twente // University of Twente
École Normale Supérieure de Lyon // École Normale Supérieure de Lyon
Hong Kong Polytechnic University // The Hong Kong Polytechnic University
Scuola Normale Superiore di Pisa // Scuola Normale Superiore di Pisa
University of Aberdeen // University of Aberdeen

Shanghai Jiao Tong University // Shanghai Jiao Tong University
Aalto University // Aalto University
University of Auckland // The University of Auckland
Lomonosov Moscow State University // Lomonosov Moscow State University
National Taiwan University // National Taiwan University (NTU)

In [23]:
merged = ranking_topu.merge(ranking_times.drop('Region', axis=1), on='Name', how='outer').fillna(-1)
merged = merged.set_index('Name')

In [24]:
merged

,Country_x,Nb faculty members (international)_x,Nb faculty members (total)_x,Nb students (international)_x,Nb students (total)_x,Rank_x,Region,Country_y,Nb faculty members (international)_y,Nb faculty members (total)_y,Nb students (international)_y,Nb students (total)_y,Rank_y
Name,,,,,,,,,,,,,
Massachusetts Institute of Technology (MIT),United States,1679.0,2982.0,3717.0,11067.0,1.0,North America,United States,-1,1284.0,3800.0,11177.0,5.0
Stanford University,United States,2042.0,4285.0,3611.0,15878.0,2.0,North America,United States,-1,2112.0,3485.0,15845.0,3.0
Harvard University,United States,1311.0,4350.0,5266.0,22429.0,3.0,North America,United States,-1,2283.0,5284.0,20326.0,6.0
California Institute of Technology (Caltech),United States,350.0,953.0,647.0,2255.0,4.0,North America,United States,-1,339.0,596.0,2209.0,3.0
University of Cambridge,United Kingdom,2278.0,5490.0,6699.0,18770.0,5.0,Europe,United Kingdom,-1,1687.0,6436.0,18389.0,2.0
University of Oxford,United Kingdom,2964.0,6750.0,7353.0,19720.0,6.0,Europe,United Kingdom,-1,1822.0,7755.0,20409.0,1.0
UCL (University College London),United Kingdom,2554.0,6345.0,14854.0,31080.0,7.0,Europe,United Kingdom,-1,2886.0,14848.0,30304.0,16.0
Imperial College London,United Kingdom,2071.0,3930.0,8746.0,16090.0,8.0,Europe,United Kingdom,-1,1390.0,8721.0,15857.0,8.0
University of Chicago,United States,635.0,2449.0,3379.0,13557.0,9.0,North America,United States,-1,2181.0,3381.0,13525.0,9.0
ETH Zurich - Swiss Federal Institute of Technology,Switzerland,1886.0,2477.0,7563.0,19815.0,10.0,Europe,Switzerland,-1,1317.0,7308.0,19233.0,10.0
"Nanyang Technological University, Singapore (NTU)",Singapore,2993.0,4338.0,7251.0,25738.0,11.0,Asia,Singapore,-1,1564.0,7904.0,25499.0,52.0
Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,1300.0,1695.0,5896.0,10343.0,12.0,Europe,Switzerland,-1,886.0,5460.0,9928.0,38.0
Princeton University,United States,246.0,1007.0,1793.0,8069.0,13.0,North America,United States,-1,958.0,1909.0,7955.0,7.0
Cornell University,United States,970.0,2718.0,5411.0,21904.0,14.0,North America,United States,-1,2229.0,5244.0,21850.0,19.0
National University of Singapore (NUS),Singapore,3086.0,5106.0,8917.0,32728.0,15.0,Asia,Singapore,-1,1800.0,9180.0,30602.0,22.0
Yale University,United States,1708.0,4940.0,2469.0,12402.0,16.0,North America,United States,-1,2826.0,2552.0,12155.0,12.0
Johns Hopkins University,United States,1061.0,4462.0,4105.0,16146.0,17.0,North America,United States,-1,3604.0,3719.0,15498.0,13.0
Columbia University,United States,913.0,6189.0,8105.0,25045.0,18.0,North America,United States,-1,4358.0,8507.0,26587.0,14.0
University of Pennsylvania,United States,1383.0,5499.0,4250.0,20639.0,19.0,North America,United States,-1,3132.0,4072.0,20361.0,10.0
University of Pennsylvania,United States,1383.0,5499.0,4250.0,20639.0,19.0,North America,United States,-1,2987.0,6357.0,45411.0,77.0
The Australian National University,Australia,927.0,1600.0,5551.0,14442.0,20.0,Oceania,Australia,-1,828.0,5595.0,15986.0,48.0
Duke University,United States,226.0,2938.0,2864.0,15320.0,21.0,North America,United States,-1,3390.0,3356.0,15256.0,17.0
University of Michigan,United States,1920.0,6809.0,7527.0,43147.0,21.0,North America,United States,-1,4862.0,6690.0,41818.0,21.0
King's College London,United Kingdom,1513.0,3650.0,9451.0,23780.0,23.0,Europe,United Kingdom,-1,1933.0,9514.0,23207.0,36.0
The University of Edinburgh,United Kingdom,1553.0,4075.0,10551.0,28040.0,23.0,Europe,United Kingdom,-1,2140.0,10703.0,26759.0,27.0
Tsinghua University,China,932.0,5506.0,4072.0,36300.0,25.0,Asia,China,-1,3072.0,3788.0,42089.0,30.0
The University of Hong Kong,Hong Kong,2085.0,3012.0,8230.0,20214.0,26.0,Asia,Hong Kong,-1,1020.0,7712.0,18364.0,40.0
"University of California, Berkeley (UCB)",United States,1395.0,3321.0,6086.0,36703.0,27.0,North America,United States,-1,2761.0,6150.0,36182.0,18.0
Northwestern University,United States,1141.0,4231.0,3422.0,18675.0,28.0,North America,United States,-1,1364.0,3143.0,17466.0,20.0
The University of Tokyo,Japan,254.0,4514.0,2639.0,27279.0,28.0,Asia,Japan,-1,3880.0,2600.0,26000.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Autonomous University of Barcelona,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Spain,-1,2504.0,5169.0,32309.0,147.0
University of Sussex,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United Kingdom,-1,804.0,4705.0,12384.0,147.0
University of Notre Dame,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,888.0,1310.0,11912.0,150.0
Scuola Superiore Sant’Anna,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Italy,-1,58.0,96.0,690.0,155.0
TU Dresden,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Germany,-1,961.0,4486.0,34514.0,155.0
Ulm University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Germany,-1,375.0,1385.0,10657.0,155.0
Case Western Reserve University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,1426.0,1924.0,10130.0,158.0
University of Leicester,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United Kingdom,-1,1037.0,5561.0,14635.0,159.0
University of Arizona,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,2948.0,3450.0,38334.0,161.0
"University of California, Santa Cruz",-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,776.0,714.0,17866.0,162.0
University of Erlangen-Nuremberg,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Germany,-1,662.0,4647.0,38730.0,162.0
Vrije Universiteit Amsterdam,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Netherlands,-1,1356.0,1718.0,24554.0,165.0
University of Würzburg,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Germany,-1,664.0,2028.0,22537.0,165.0
University of Alabama at Birmingham,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,1033.0,942.0,15703.0,168.0
Tufts University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,1125.0,1674.0,10463.0,169.0
"Rutgers, the State University of New Jersey",-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,3913.0,4343.0,43439.0,172.0
University of Münster,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Germany,-1,992.0,2960.0,42287.0,173.0
Université Libre de Bruxelles,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Belgium,-1,583.0,8870.0,25343.0,175.0
University of Luxembourg,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Luxembourg,-1,340.0,2832.0,4969.0,179.0
Paris-Sud University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,France,-1,1877.0,4355.0,27221.0,181.0
University of Miami,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,2688.0,2537.0,15860.0,186.0
University of Dundee,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United Kingdom,-1,731.0,2614.0,10893.0,187.0
University of East Anglia,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United Kingdom,-1,994.0,4056.0,13521.0,188.0
University of Massachusetts,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,4453.0,8292.0,59230.0,191.0
Northeastern University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,1341.0,6009.0,18780.0,193.0
Tilburg University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Netherlands,-1,343.0,1005.0,7738.0,195.0
Paris-Sorbonne University – Paris 4,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,France,-1,729.0,3306.0,22042.0,196.0
"Royal Holloway, University of London",-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United Kingdom,-1,579.0,3572.0,8931.0,197.0
"University of California, Riverside",-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,1001.0,2903.0,20740.0,198.0
University of Gothenburg,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Sweden,-1,1837.0,2389.0,18378.0,198.0

In [25]:
merged[(merged['Rank_x'] == -1) | (merged['Rank_y']==-1)]

,Country_x,Nb faculty members (international)_x,Nb faculty members (total)_x,Nb students (international)_x,Nb students (total)_x,Rank_x,Region,Country_y,Nb faculty members (international)_y,Nb faculty members (total)_y,Nb students (international)_y,Nb students (total)_y,Rank_y
Name,,,,,,,,,,,,,
"Ecole normale supérieure, Paris",France,75.0,178.0,374.0,1907.0,43.0,Europe,-1,-1,-1.0,-1.0,-1.0,-1.0
Tokyo Institute of Technology,Japan,191.0,1563.0,1071.0,9832.0,56.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
Osaka University,Japan,296.0,2814.0,2106.0,22760.0,63.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
Ludwig-Maximilians-Universität München,Germany,674.0,3274.0,5084.0,35055.0,66.0,Europe,-1,-1,-1.0,-1.0,-1.0,-1.0
Ruprecht-Karls-Universität Heidelberg,Germany,756.0,3908.0,5298.0,28852.0,68.0,Europe,-1,-1,-1.0,-1.0,-1.0,-1.0
Universidad de Buenos Aires (UBA),Argentina,3165.0,16421.0,27109.0,122301.0,75.0,Latin America,-1,-1,-1.0,-1.0,-1.0,-1.0
Tohoku University,Japan,264.0,3411.0,1604.0,17827.0,76.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
Korea University,South Korea,339.0,3745.0,3638.0,25892.0,90.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
Pennsylvania State University,United States,211.0,3509.0,7081.0,45612.0,93.0,North America,-1,-1,-1.0,-1.0,-1.0,-1.0
Yonsei University,South Korea,290.0,3621.0,3379.0,25903.0,106.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
Universiti Malaya (UM),Malaysia,655.0,2755.0,3476.0,17902.0,114.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
Nagoya University,Japan,206.0,2665.0,1547.0,15838.0,116.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
Universidade de São Paulo,Brazil,279.0,5582.0,2086.0,65711.0,121.0,Latin America,-1,-1,-1.0,-1.0,-1.0,-1.0
Hokkaido University,Japan,210.0,2605.0,1347.0,17552.0,122.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
Universidad Nacional Autónoma de México (UNAM),Mexico,949.0,15073.0,2173.0,141939.0,122.0,Latin America,-1,-1,-1.0,-1.0,-1.0,-1.0
Wageningen University,Netherlands,323.0,2277.0,3613.0,12695.0,124.0,Europe,-1,-1,-1.0,-1.0,-1.0,-1.0
Kyushu University,Japan,246.0,2858.0,1787.0,18660.0,128.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
Université de Montréal,Canada,1037.0,2961.0,9688.0,39112.0,130.0,North America,-1,-1,-1.0,-1.0,-1.0,-1.0
Chalmers University of Technology,Sweden,336.0,1077.0,1465.0,9257.0,133.0,Europe,-1,-1,-1.0,-1.0,-1.0,-1.0
Pontificia Universidad Católica de Chile (UC),Chile,198.0,2260.0,991.0,27003.0,137.0,Latin America,-1,-1,-1.0,-1.0,-1.0,-1.0
The Hebrew University of Jerusalem,Israel,454.0,2249.0,1034.0,16531.0,145.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
University of Otago,New Zealand,759.0,1266.0,3871.0,18532.0,151.0,Oceania,-1,-1,-1.0,-1.0,-1.0,-1.0
University of Waterloo,Canada,473.0,1689.0,8962.0,35541.0,152.0,North America,-1,-1,-1.0,-1.0,-1.0,-1.0
Hanyang University,South Korea,364.0,3085.0,3397.0,23348.0,155.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
Universitat de Barcelona,Spain,108.0,3863.0,6134.0,46002.0,156.0,Europe,-1,-1,-1.0,-1.0,-1.0,-1.0
University of Bath,United Kingdom,440.0,1165.0,4213.0,14370.0,160.0,Europe,-1,-1,-1.0,-1.0,-1.0,-1.0
National Tsing Hua University,Taiwan,119.0,1020.0,1187.0,13890.0,161.0,Asia,-1,-1,-1.0,-1.0,-1.0,-1.0
Eberhard Karls Universität Tübingen,Germany,796.0,3844.0,3860.0,27366.0,164.0,Europe,-1,-1,-1.0,-1.0,-1.0,-1.0
University of Bergen,Norway,484.0,1513.0,767.0,10671.0,164.0,Europe,-1,-1,-1.0,-1.0,-1.0,-1.0
University College Dublin,Ireland,627.0,1604.0,3876.0,19833.0,168.0,Europe,-1,-1,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Autonomous University of Barcelona,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Spain,-1,2504.0,5169.0,32309.0,147.0
University of Sussex,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United Kingdom,-1,804.0,4705.0,12384.0,147.0
University of Notre Dame,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,888.0,1310.0,11912.0,150.0
Scuola Superiore Sant’Anna,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Italy,-1,58.0,96.0,690.0,155.0
TU Dresden,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Germany,-1,961.0,4486.0,34514.0,155.0
Ulm University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Germany,-1,375.0,1385.0,10657.0,155.0
Case Western Reserve University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,1426.0,1924.0,10130.0,158.0
University of Leicester,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United Kingdom,-1,1037.0,5561.0,14635.0,159.0
University of Arizona,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,2948.0,3450.0,38334.0,161.0
"University of California, Santa Cruz",-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,776.0,714.0,17866.0,162.0
University of Erlangen-Nuremberg,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Germany,-1,662.0,4647.0,38730.0,162.0
Vrije Universiteit Amsterdam,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Netherlands,-1,1356.0,1718.0,24554.0,165.0
University of Würzburg,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Germany,-1,664.0,2028.0,22537.0,165.0
University of Alabama at Birmingham,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,1033.0,942.0,15703.0,168.0
Tufts University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,1125.0,1674.0,10463.0,169.0
"Rutgers, the State University of New Jersey",-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,3913.0,4343.0,43439.0,172.0
University of Münster,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Germany,-1,992.0,2960.0,42287.0,173.0
Université Libre de Bruxelles,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Belgium,-1,583.0,8870.0,25343.0,175.0
University of Luxembourg,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Luxembourg,-1,340.0,2832.0,4969.0,179.0
Paris-Sud University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,France,-1,1877.0,4355.0,27221.0,181.0
University of Miami,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,2688.0,2537.0,15860.0,186.0
University of Dundee,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United Kingdom,-1,731.0,2614.0,10893.0,187.0
University of East Anglia,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United Kingdom,-1,994.0,4056.0,13521.0,188.0
University of Massachusetts,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,4453.0,8292.0,59230.0,191.0
Northeastern University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,1341.0,6009.0,18780.0,193.0
Tilburg University,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Netherlands,-1,343.0,1005.0,7738.0,195.0
Paris-Sorbonne University – Paris 4,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,France,-1,729.0,3306.0,22042.0,196.0
"Royal Holloway, University of London",-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United Kingdom,-1,579.0,3572.0,8931.0,197.0
"University of California, Riverside",-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,United States,-1,1001.0,2903.0,20740.0,198.0
University of Gothenburg,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1,Sweden,-1,1837.0,2389.0,18378.0,198.0

In [26]:
merged['delta ranking'] = (1+np.absolute(merged['Rank_x']-merged['Rank_y']))*(np.minimum(merged['Rank_x'],merged['Rank_y']))

In [27]:
best_uni = merged['delta ranking'][merged['delta ranking'] > 0].sort_values().rank()

In [28]:
best_uni[:'Ecole Polytechnique Fédérale de Lausanne (EPFL)']

Name
Stanford University                                        1.0
Massachusetts Institute of Technology (MIT)                2.0
California Institute of Technology (Caltech)               3.5
University of Oxford                                       3.5
University of Cambridge                                    5.5
Imperial College London                                    5.5
University of Chicago                                      7.0
ETH Zurich - Swiss Federal Institute of Technology         8.0
Harvard University                                         9.0
University of Michigan                                    10.0
Princeton University                                      11.0
Yale University                                           12.0
Johns Hopkins University                                  13.0
UCL (University College London)                           14.5
Columbia University                                       14.5
Cornell University                                        16.0
Duke University                                           17.0
University of Pennsylvania                                18.0
The University of Edinburgh                               19.0
University of Amsterdam                                   20.0
National University of Singapore (NUS)                    21.0
Tsinghua University                                       22.0
University of Twente                                      23.0
Northwestern University                                   24.5
University of California, Berkeley (UCB)                  24.5
Brown University                                          26.0
University of Toronto                                     27.0
University of California, San Diego (UCSD)                28.0
London School of Economics and Political Science (LSE)    29.0
University of California, Los Angeles (UCLA)              30.0
The University of Melbourne                               31.0
King's College London                                     32.0
Peking University                                         33.5
Ecole Polytechnique Fédérale de Lausanne (EPFL)           33.5
Name: delta ranking, dtype: float64

In [29]:
merged[(merged['Rank_x'] != -1) & (merged['Rank_y']!=-1)].count()

Country_x                               152
Nb faculty members (international)_x    152
Nb faculty members (total)_x            152
Nb students (international)_x           152
Nb students (total)_x                   152
Rank_x                                  152
Region                                  152
Country_y                               152
Nb faculty members (international)_y    152
Nb faculty members (total)_y            152
Nb students (international)_y           152
Nb students (total)_y                   152
Rank_y                                  152
delta ranking                           152
dtype: int64